@model VarificationViewModel
@{
    ViewData["Title"] = "SignUP";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<h1 class="text-center">Varify Phone Number</h1>

<form asp-Action="CheckVarificationCode" class="row g-3 my-4">
    <p>Please Enter the varification code send to your number</p>
    <div class="col-md-6">
        <div class="form-data">
            <input asp-for="Code" type="number" class="form-control" placeholder="Varification Code " />
            <span asp-validation-for="Code"></span>
        </div>
    </div>
    <div class="col-12">
        <button type="submit" class="btn w-100 main-btn">Continue Register</button>
    </div>
</form>

<footer>
    <p class="text-center small">
        Already a member?
        <a asp-action="LogIn" asp-controller="Auth" class="link-secondary text-decoration-none" role="button">
            LogIn
            <i class="fa-solid fa-angle-right"></i>
        </a>
    </p>
</footer>

